SPRING_DATASOURCE_URL=jdbc:postgresql://your-db-host:5432/dataflow
SPRING_DATASOURCE_USERNAME=postgres-user
SPRING_DATASOURCE_PASSWORD=postgres-password

APP_S3_PRIMARY_ENDPOINT=http://your-s3-host:9000
APP_S3_PRIMARY_ACCESS_KEY=minio-local
APP_S3_PRIMARY_SECRET_KEY=minio-local-password

CUSTOMERS_PAT=your-rest-api-pat

SPRING_PROFILES_ACTIVE=workflow
